





<div class="d-flex justify-content-center align-items-center vh-100"
     style="background: url('@Url.Content("~/background.jpg")') no-repeat center center fixed;
            background-size: cover;">
    <a href="/Employee/GetEmployees"
       class="btn btn-dark btn-lg px-5 py-3 shadow-lg">
        👥 @SharedLocalizer["Show Data"]
    </a>
</div>
